html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
}

body
{
    display: flex;
}

#page
{
    min-width: 100%;
    max-width: 100%;
}

#headbar
{
    background-color :#73a9ff;
    color: white;
    height : 100px;
}

#sidebar
{
    background-color :#73a9ff;
    color: white;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    transition: all 0.5s;
    margin-left:-250px;
    display:flex;
    flex-direction: column;
}

#sidebar.active
{
    margin-left:0px;
}

#content
{
    background-color : white;
    color: #73a9ff;
}

.sidebar_button
{
    color:white;
}

.sidebar_button_bottomshadow
{
    background-color:white;
    height: 10px;
    width: 100%;
}