:root
{
    --main-color: #73a9ff;

    --border-width: 1px;

    --blackveil-opacity: 0.7;
    --blackveil-opacity-speed: all 0.5s;

    --sidebar-button-left-padding: 5px;
    --sidebar-button-y-padding: 5px;
    --sidebar-button-blackveil-height: 34px;
    --sidebar-button-blackveil-speed: all 0.5s;
    --sidebar-button-blackveil-opacity: 0.7;
}

html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
}

body
{
    display: flex;
}

#page
{
    min-width: 100%;
    max-width: 100%;
}

#headbar
{
    height : 50px;
    border-bottom-style: solid;
    border-bottom-color: var(--main-color);
    border-bottom-width: var(--border-width);
    display: flex;
    justify-content: start;
    text-align: center;
}

#sidebarCollapse
{
    margin: 10px 15px;
}

#title
{
    font-weight: bold;
    color: var(--main-color);
    margin: 12px 50%;
}

#sidebar
{
    position: absolute;
    color: var(--main-color);
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    transition: all 0.5s;
    margin-left:-250px;
    display:flex;
    flex-direction: column;
    z-index: 1;

    border-right-style: solid;
    border-right-color: var(--main-color);
    border-right-width: var(--border-width);;
}

#sidebar.active
{
    margin-left:0px;
}

#sidebar_logo
{
    border-bottom-style: solid;
    border-bottom-color: var(--main-color);
    border-bottom-width: var(--border-width);;
}

.sidebar_button
{
    padding-top : var(--sidebar-button-y-padding);
    padding-bottom : var(--sidebar-button-y-padding);
    padding-left : var(--sidebar-button-left-padding);
    border-bottom-style: solid;
    border-bottom-color: var(--main-color);
    border-bottom-width: var(--border-width);;
    transition: all 0.5s;
}

.sidebar_button_blackveil
{
    visibility: hidden;
    position:absolute;
    width:100%;
    height: var(--sidebar-button-blackveil-height);
    margin-top: calc(-1 * var(--sidebar-button-y-padding));
    background-color:black;
    opacity:0.0;
    transition : var(--sidebar-button-blackveil-speed);
}

.sidebar_button_blackveil.active
{
    visibility: visible;
    opacity:var(--sidebar-button-blackveil-opacity);
}

#content
{
    color: var(--main-color);
}

#blackveil
{
    visibility: hidden;
    position: absolute;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.0;
    transition : var(--blackveil-opacity-speed);
}

#blackveil.active
{
    visibility: visible;
    opacity:var(--blackveil-opacity);
}